<div>
<!-- Fixed navbar -->
	    <div id="navigation" class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#"><b>NoInsane</b></a>
	        </div>
	        <div class="navbar-collapse collapse">
	          
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#home" class="smothscroll">Home</a></li>
  		            <li><a href="#desc" class="smothscroll">Descripci&oacuten</a></li>
  		            <li><a href="#cita" class="smothScroll">Citas</a></li>
                    <li><a href="#showcase" class="smothScroll">Centros médicos</a></li>
  		            <li><a href="#frec" class="smothScroll">Preguntas frecuentes</a></li>
                    <li><a href="#registro" class="smothScroll">Mi NoInsane</a></li>
  		
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>
	    <section id="frec" name="frec"></section>
      <!-- FEATURES WRAP -->
	<div id="features">
		<div class="container">
			<div class="row">
				<h1 class="centered">Preguntas frecuentes</h1>
				<br>
				<br>
				
				
				<div class="col-lg-6">
					
					<br>
				<!-- ACCORDION -->
		            <div class="accordion ac" id="accordion2">
		                <div class="accordion-group">
		                    <div class="accordion-heading">
		                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
		                        ¿Puedo modificar una cita ya confirmada para cambiar la fecha de consulta?
		                        </a>
		                    </div><!-- /accordion-heading -->
		                 
		                        <div class="accordion-inner">
								<p>SÍ. Desde este servicio web también se puede cambiar 
		una cita  a través de la opción de 'Cambiar cita'.</p>
								</div><!-- /accordion-inner -->
		                   
		                </div><!-- /accordion-group -->
		                <br>
		
		                <div class="accordion-group">
		                    <div class="accordion-heading">
		                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
		                        ¿Cómo puedo anular una cita?
		                        </a>
		                    </div>
		                  
		                        <div class="accordion-inner">
								<p>Se puede anular desde la opción 'Cambiar o Anular',
		  o bien a través de la llamada al teléfono de contacto del centro de salud.</p>
								</div><!-- /accordion-inner -->
		                    
		                </div><!-- /accordion-group -->
		                <br>
		
		                 
		                
		                 
		                <br>			
					</div><!-- Accordion -->
				</div>
			</div>
		</div><!--/ .container -->
	</div><!--/ #features -->