<div>
<!-- Fixed navbar -->
	    <div id="navigation" class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#"><b>NoInsane</b></a>
	        </div>
	        <div class="navbar-collapse collapse">
	          
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#home" class="smothscroll">Home</a></li>
  		            <li><a href="#desc" class="smothscroll">Descripci&oacuten</a></li>
  		            <li><a href="#cita" class="smothScroll">Citas</a></li>
                    <li><a href="#showcase" class="smothScroll">Centros m&eacutedicos</a></li>
  		            <li><a href="#frec" class="smothScroll">Preguntas frecuentes</a></li>
                    <li><a href="#/registro" class="smothScroll">Entrar</a></li>
                    <li><a href="#/dashboard" class="smothScroll">Mi NoInsane</a></li>
  		
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>


	<section id="home" name="home"></section>
	<div id="headerwrap">
	    <div class="container">
	    	<div class="row centered">
	    		<div class="col-lg-12">
					<h1>Bienvenido a <b>NoInsane</b></h1>
					<h3>Web de sistema sanitario</h3>
					<br>
	    		</div>
	    		
	    		<div class="col-lg-2">
	    			<h5>Servicios</h5>
	    			<p>Comprueba y revisa todos los servicios sanitarios que ofrecemos</p>
	    			<img class="hidden-xs hidden-sm hidden-md" src="assets/img/arrow1.png">
	    		</div>
	    		<div class="col-lg-8">
	    			<img class="img-responsive" src="assets/img/citaprevia.jpg" alt="">
	    		</div>
	    		<div class="col-lg-2">
	    			<br>
	    			<img class="hidden-xs hidden-sm hidden-md" src="assets/img/arrow2.png">
	    			<h5>M&eacutedicos y centros</h5>
	    			<p>Encuentra tu hospital y m&eacutedico especialista mas cercano</p>
	    		</div>
	    	</div>
	    </div> <!--/ .container -->
	</div><!--/ #headerwrap -->


	<section id="desc" name="desc"></section>
	<!-- INTRO WRAP -->
	<div id="intro">
		<div class="container">
			<div class="row centered">
				<h1>Designed To Excel</h1>
				<br>
				<br>
				<div class="col-lg-4">
					<img src="assets/img/intro01.png" alt="">
					<h3>Community</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
				<div class="col-lg-4">
					<img src="assets/img/intro02.png" alt="">
					<h3>Schedule</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
				<div class="col-lg-4">
					<img src="assets/img/intro03.png" alt="">
					<h3>Monitoring</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
			<br>
			<hr>
	    </div> <!--/ .container -->
	</div><!--/ #introwrap -->
	
      <section id="cita" name="cita"></section>
	<!-- FEATURES WRAP -->
	<div id="features">
		<div class="container">
			<div class="row">
				<h1 class="centered">¿Quieres cita?</h1>
				<br>
				<br>
				<div class="col-lg-6 centered">
					<img class="centered" src="assets/img/relog.jpg" alt="">
				</div>
				
				<div class="col-lg-6">
					
					<br>
				<!-- ACCORDION -->
		            <div class="accordion ac" id="accordion2">
		                <div class="accordion-group">
		                    <div class="accordion-heading">
		                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
		                        Cita primaria
		                        </a>
		                    </div><!-- /accordion-heading -->
		                    <div id="collapseOne" class="accordion-body collapse in">
		                        <div class="accordion-inner">
								<p>Consulte las formas de obtener cita previa en Atenci&oacuten Primaria. 
                                    Desde esta p&aacutegina puede pedir, consultar, cambiar o anular su cita con el m&eacutedico de Familia,
                                    Pediatra o profesional de Enfermer&iacutea.</p>
								</div><!-- /accordion-inner -->
		                    </div><!-- /collapse -->
		                </div><!-- /accordion-group -->
		                <br>
		
					
		                <div class="accordion-group">
		                    <div class="accordion-heading">
		                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
		                        Cita especialista
		                        </a>
		                    </div>
		                    <div id="collapseTwo" class="accordion-body collapse">
		                        <div class="accordion-inner">
								<p>Consulte las formas de obtener cita previa en Atención Especializada.
                                    Desde esta página puede pedir, consultar, cambiar o anular su cita con el Especialista solicitada
                                    por su m&eacutedico de Atenci&oacuten Primaria, con la posibilidad de elegir otro centro sanitario 
                                    y médico Especialista.</p>
								</div><!-- /accordion-inner -->
		                    </div><!-- /collapse -->
		                </div><!-- /accordion-group -->
		                
		                <br>
		
		                 
		                
		                 
		                <br>			
					</div><!-- Accordion -->
				</div>
			</div>
		</div><!--/ .container -->
	</div><!--/ #features -->
	
	
	<section id="showcase" name="showcase"></section>
	<div id="showcase">
		<div class="container">
			<div class="row">
				<h1 class="centered">Centros m&eacutedicos</h1>
				<br>
				<div class="col-lg-8 col-lg-offset-2">
					<div id="carousel-example-generic" class="carousel slide">
					  <!-- Indicators -->
					  <ol class="carousel-indicators">
					    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
					  </ol>
					
					  <!-- Wrapper for slides -->
					  <div class="carousel-inner">
					    <div class="item active">
					      <img src="assets/img/hospital1.jpg" alt="">
					    </div>
					    <div class="item">
					      <img src="assets/img/hospital2.jpg" alt="">
					    </div>
                        
					  </div>
					</div>
				</div>
			</div>
			<br>
			<br>
			<br>	
		</div><!-- /container -->
	</div>	

<section id="frec" name="frec">
      <!-- FEATURES WRAP -->
	<div id="features">
		<div class="container">
			<div class="row">
				<h1 class="centered">Preguntas frecuentes</h1>
				<br>
				<br>
				
				
				<div class="col-lg-6">
					
					<br>
				<!-- ACCORDION -->
		            <div class="accordion ac" id="accordion2">
		                <div class="accordion-group">
		                    <div class="accordion-heading">
		                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
		                        ¿Puedo modificar una cita ya confirmada para cambiar la fecha de consulta?
		                        </a>
		                    </div><!-- /accordion-heading -->
		                 
		                        <div class="accordion-inner">
								<p>S&Iacute. Desde este servicio web tambi&eacuten se puede cambiar 
		una cita  a trav&eacutes de la opci&oacuten de 'Cambiar cita'.</p>
								</div><!-- /accordion-inner -->
		                   
		                </div><!-- /accordion-group -->
		                <br>
		
		                <div class="accordion-group">
		                    <div class="accordion-heading">
		                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
		                        ¿C&oacutemo puedo anular una cita?
		                        </a>
		                    </div>
		                  
		                        <div class="accordion-inner">
								<p>Se puede anular desde la opci&oacuten 'Cambiar o Anular',
		  o bien a trav&eacutes de la llamada al teléfono de contacto del centro de salud.</p>
								</div><!-- /accordion-inner -->
		                    
		                </div><!-- /accordion-group -->
		                <br>
		
		                 
		                
		                 
		                <br>			
					</div><!-- Accordion -->
				</div>
			</div>
		</div><!--/ .container -->
	</div><!--/ #features -->
      </section>
	<section id="registro" name="registro">
	<div id="footerwrap">
		<div class="container">
			<div class="col-lg-5">
				<h3>¿A&uacuten no te has registrado en NoInsane?</h3>
				<p>
				Si eres cliente de NoInsane entra y<br/>
				disfruta de nuestras ventajas<br/>
				Si no lo eres reg&iacutestrate ya.<br/>
<button class="btn btn-default" data-toggle="modal" data-target="#popupregistro">Reg&iacutestrate</button>			</div>

			<div class="modal fade" id="popupregistro" tabindex="-1"role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
				<div class="modal-dialog"> <div class="modal-content"> 
					<div class="modal-header"> 
						<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button> 
							<h4 class="modal-title" id="myModalLabel">Crea tu usuario</h4> </div> 
			<div id="nuevoUsuario" class="modal-body"> 
			<form role="form"> 
				<div class="form-group"> 
					<label for="DNIregistro">DNI</label> 
					<input type="text" class="form-control" id="DNIregistro"placeholder="Introduce tu DNI..." required> </div> 
					<div class="form-group"> 
						<label for="contra">Contraseña</label> 
					<input type="password" class="form-control" id="contra" placeholder="Introduce una contraseña secreta..." required>
			  		</div> 
			  		<div class="form-group"> 
			  			<label for="email">Correo</label> 
			  			<input type="email" class="form-control" id="email" placeholder="Introduce tu correo electr&oacutenico" required> 
			  		</div>  
			  </form>  
			  </div> 
			  <div class="modal-footer"> 
			  	<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button> 
			  	<button type="button" class="btn btn-success" id="botoncrearusuario">Crear</button>  
			  	</div> 
			  	</div> </div> </div>
			
			<div class="col-lg-7">
				<h3>Entra con tu cuenta</h3>
				<br>
				<form role="form" action="#" method="post" enctype="plain"> 
				  <div class="form-group">
				    <label for="name1">Tu DNI:</label>
				    <input type="DNI" name="DNI" class="form-control" id="inputDNI" placeholder="Tu DNI" ng-model="Usuario.dni" required>
				  </div>
				  <div class="form-group">
				    <label for="email1">Contrase&ntildea:</label>
				    <input type="pass" name="pass" class="form-control" id="inputPassword" placeholder="Introduce pass" ng-model="Usuario.password"  required>
				  <div mg-show="registro.inputDNI.$dirty && registro.inputPassword.$invalid">
				  	<p class="help-block text-danger" ng-show="registro.inputDNI.$error.required">Campo obligatorio</p>
				  	<p class="help-block text-danger" ng-show="registro.inputPassword.$error.required">Campo obligatorio</p>
				  </div>
				  <div class="checkbox">
				  	<label>
				  		<input type="checkbox" name="aceptoU" ng-model="usuario.acepto" required>Acepto.
				  	</label>
				  </div>
				  <br>
				  <div ng-controller="boton">
				  <button id="botonlog" ng-click="loguear()"class="btn btn-large btn-success" ng-disabled="forma.$invalid">ENTRAR</button>
				</div>
				</form>
			</div>
		</div>
	</div>
	<div id="c">
		<div class="container">
			<p>Created by <a href="http://www.blacktie.co">Cruz H&eacutector Fern&aacutendez, Ignacio de Lucas, Hugo Fern&aacutendez y Randal  Barrientos</a></p>
		
		</div>
	</div>
     </section>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/bootstrap.js"></script>
	<script>
	$('.carousel').carousel({
	  interval: 3500
	})
	</script>
	
	</div>