<div>
<!-- Fixed navbar -->
	    <div id="navigation" class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#"><b>NoInsane</b></a>
	        </div>
	        <div class="navbar-collapse collapse">
	          
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#home" class="smothscroll">Home</a></li>
  		            <li><a href="#desc" class="smothscroll">Descripci&oacuten</a></li>
  		            <li><a href="#cita" class="smothScroll">Citas</a></li>
                    <li><a href="#showcase" class="smothScroll">Centros médicos</a></li>
  		            <li><a href="#frec" class="smothScroll">Preguntas frecuentes</a></li>
                   
                    <li><a href="#registro" class="smothScroll">Mi NoInsane</a></li>
  		
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>


	<section id="home" name="home"></section>
	<div id="headerwrap">
	    <div class="container">
	    	<div class="row centered">
	    		<div class="col-lg-12">
					<h1>Bienvenido a <b>NoInsane</b></h1>
					<h3>Web de sistema sanitario</h3>
					<br>
	    		</div>
	    		
	    		<div class="col-lg-2">
	    			<h5>Servicios</h5>
	    			<p>Comprueba y revisa todos los servicios sanitarios que ofrecemos</p>
	    			<img class="hidden-xs hidden-sm hidden-md" src="assets/img/arrow1.png">
	    		</div>
	    		<div class="col-lg-8">
	    			<img class="img-responsive" src="assets/img/citaprevia.jpg" alt="">
	    		</div>
	    		<div class="col-lg-2">
	    			<br>
	    			<img class="hidden-xs hidden-sm hidden-md" src="assets/img/arrow2.png">
	    			<h5>Médicos y centros</h5>
	    			<p>Encuentra tu hospital y médico especialista mas cercano</p>
	    		</div>
	    	</div>
	    </div> <!--/ .container -->
	</div><!--/ #headerwrap -->


	<section id="desc" name="desc"></section>
	<!-- INTRO WRAP -->
	<div id="intro">
		<div class="container">
			<div class="row centered">
				<h1>Designed To Excel</h1>
				<br>
				<br>
				<div class="col-lg-4">
					<img src="assets/img/intro01.png" alt="">
					<h3>Community</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
				<div class="col-lg-4">
					<img src="assets/img/intro02.png" alt="">
					<h3>Schedule</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
				<div class="col-lg-4">
					<img src="assets/img/intro03.png" alt="">
					<h3>Monitoring</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
			<br>
			<hr>
	    </div> <!--/ .container -->
	</div><!--/ #introwrap -->
	
      <section id="cita" name="cita"></section>
	<!-- FEATURES WRAP -->
	<div id="features">
		<div class="container">
			<div class="row">
				<h1 class="centered">¿Quieres cita?</h1>
				<br>
				<br>
				<div class="col-lg-6 centered">
					<img class="centered" src="assets/img/relog.jpg" alt="">
				</div>
				
				<div class="col-lg-6">
					
					<br>
				<!-- ACCORDION -->
		            <div class="accordion ac" id="accordion2">
		                <div class="accordion-group">
		                    <div class="accordion-heading">
		                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
		                        Cita primaria
		                        </a>
		                    </div><!-- /accordion-heading -->
		                    <div id="collapseOne" class="accordion-body collapse in">
		                        <div class="accordion-inner">
								<p>Consulte las formas de obtener cita previa en Atención Primaria. 
                                    Desde esta página puede pedir, consultar, cambiar o anular su cita con el médico de Familia,
                                    Pediatra o profesional de Enfermería.</p>
								</div><!-- /accordion-inner -->
		                    </div><!-- /collapse -->
		                </div><!-- /accordion-group -->
		                <br>
		
		                <div class="accordion-group">
		                    <div class="accordion-heading">
		                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
		                        Cita especialista
		                        </a>
		                    </div>
		                    <div id="collapseTwo" class="accordion-body collapse">
		                        <div class="accordion-inner">
								<p>Consulte las formas de obtener cita previa en Atención Especializada.
                                    Desde esta página puede pedir, consultar, cambiar o anular su cita con el Especialista solicitada
                                    por su médico de Atención Primaria, con la posibilidad de elegir otro centro sanitario 
                                    y médico Especialista.</p>
								</div><!-- /accordion-inner -->
		                    </div><!-- /collapse -->
		                </div><!-- /accordion-group -->
		                <br>
		
		                 
		                
		                 
		                <br>			
					</div><!-- Accordion -->
				</div>
			</div>
		</div><!--/ .container -->
	</div><!--/ #features -->
	
	
	<section id="showcase" name="showcase"></section>
	<div id="showcase">
		<div class="container">
			<div class="row">
				<h1 class="centered">Centros médicos</h1>
				<br>
				<div class="col-lg-8 col-lg-offset-2">
					<div id="carousel-example-generic" class="carousel slide">
					  <!-- Indicators -->
					  <ol class="carousel-indicators">
					    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
					  </ol>
					
					  <!-- Wrapper for slides -->
					  <div class="carousel-inner">
					    <div class="item active">
					      <img src="assets/img/hospital1.jpg" alt="">
					    </div>
					    <div class="item">
					      <img src="assets/img/hospital2.jpg" alt="">
					    </div>
                        
					  </div>
					</div>
				</div>
			</div>
			<br>
			<br>
			<br>	
		</div><!-- /container -->
	</div>	

<section id="frec" name="frec"></section>
      <!-- FEATURES WRAP -->
	<div id="features">
		<div class="container">
			<div class="row">
				<h1 class="centered">Preguntas frecuentes</h1>
				<br>
				<br>
				
				
				<div class="col-lg-6">
					
					<br>
				<!-- ACCORDION -->
		            <div class="accordion ac" id="accordion2">
		                <div class="accordion-group">
		                    <div class="accordion-heading">
		                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
		                        ¿Puedo modificar una cita ya confirmada para cambiar la fecha de consulta?
		                        </a>
		                    </div><!-- /accordion-heading -->
		                 
		                        <div class="accordion-inner">
								<p>SÍ. Desde este servicio web también se puede cambiar 
		una cita  a través de la opción de 'Cambiar cita'.</p>
								</div><!-- /accordion-inner -->
		                   
		                </div><!-- /accordion-group -->
		                <br>
		
		                <div class="accordion-group">
		                    <div class="accordion-heading">
		                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
		                        ¿Cómo puedo anular una cita?
		                        </a>
		                    </div>
		                  
		                        <div class="accordion-inner">
								<p>Se puede anular desde la opción 'Cambiar o Anular',
		  o bien a través de la llamada al teléfono de contacto del centro de salud.</p>
								</div><!-- /accordion-inner -->
		                    
		                </div><!-- /accordion-group -->
		                <br>
		
		                 
		                
		                 
		                <br>			
					</div><!-- Accordion -->
				</div>
			</div>
		</div><!--/ .container -->
	</div><!--/ #features -->
      
	<section id="registro" name="registro"></section>
	<div id="footerwrap">
		<div class="container">
			<div class="col-lg-5">
				<h3>Address</h3>
				<p>
				Av. Greenville 987,<br/>
				New York,<br/>
				90873<br/>
				United States
				</p>
			</div>
			
			<div class="col-lg-7">
				<h3>Drop Us A Line</h3>
				<br>
				<form role="form" action="#" method="post" enctype="plain"> 
				  <div class="form-group">
				    <label for="name1">Your Name</label>
				    <input type="name" name="Name" class="form-control" id="name1" placeholder="Your Name">
				  </div>
				  <div class="form-group">
				    <label for="email1">Email address</label>
				    <input type="email" name="Mail" class="form-control" id="email1" placeholder="Enter email">
				  </div>
				  <div class="form-group">
				  	<label>Your Text</label>
				  	<textarea class="form-control" name="Message" rows="3"></textarea>
				  </div>
				  <br>
				  <button type="submit" class="btn btn-large btn-success">SUBMIT</button>
				</form>
			</div>
		</div>
	</div>
	<div id="c">
		<div class="container">
			<p>Created by <a href="http://www.blacktie.co">BLACKTIE.CO</a></p>
		
		</div>
	</div>
      


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/bootstrap.js"></script>
	<script>
	$('.carousel').carousel({
	  interval: 3500
	})
	</script>
	
	</div>